@media screen and (min-width: map-get($grid-breakpoints, md)) {
  nav.navbar {
    display: none;

  }
  .header {
    background-color: var(--ds-header-bg);

  }
}

.navbar-brand img {
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    width: 70px; //NU-edit
   height: 77px; //NU-edit
  }
}
.navbar-toggler .navbar-toggler-icon {
  background-image: none !important;
  line-height: 1.5;
  color: #fff;
  z-index: 1000000;
}

.my-2 {
  margin-top: -.5rem !important;
}

.header {
  background-color: #FFF !important; //NU-edit
  position: fixed !important;
  width: 100%;
  -webkit-transform: translate3d(0,0,1px) !important;
  transform: translate3d(0,0,1px)!important;
}


nav{
  height: 120px;
  width: 100%;
}

::ng-deep ds-themed-header{
  ul li a{
    color: #3992a4 !important;
  }

   ds-link-menu-item .nav-item{
    color: #3992a4 !important;
  }
  .submit-icon{
    color: #3992a4 !important;
  }
 
  .navbar-toggler{
    background-color: #3992a4 !important;
  }
  
    .dropdown-toggle {
      color: #3992a4 !important;
    }
    .dropdown-toggle:hover, .dropdown-togglefocus {
      color: #3992a4 !important;
    }
    .lang-switcher-btn{
       color: #3992a4 !important;
    }


    ds-expandable-navbar-section ul{
      background-color: #FFF !important;
    }
}
