.item-card {
  background: white;
  overflow: hidden;
  text-decoration: none;
  margin: 10px 5px;
  width: 100%;
  // padding: 10px;
  height: 450px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05), 0 0px 40px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s;
  position: relative;

  &:hover {
    // box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 20%);
    transform: scale(1.02);
  }
}
